.c
{
background-color: rgb(233, 227, 227);
border: 1px solid black;
height: 40px;
margin-left: 30px;
padding-right: 25px;
padding-top: 6px;
}
.d
{
background-color: rgb(233, 227, 227);
border: 1px solid black;
height: 40px;
margin-left: 30px;
padding-right: 25px;
padding-top: 6px;
}