/* table
{

   white-space: nowrap; 
 display: block;
 
   overflow-x: scroll;
  
  

  overflow-y: scroll;
 
height:420px;
 }  */

/* .custom{
 position:relative;
 float:none;
 max-width:160px;
 
} */
