<div style="padding-left: 10px;padding-top: 10px;padding-right: 10px;margin-bottom: 10px;">
    <mat-card style="background-color: #03a9f4; color:white; padding: 7px;margin-left:-20px;margin-right:-20px">
      <mat-card-title style= "font-size:19px;font-weight:bold">Book An Appointment
        <button style="margin-right: 10px;
              float: right;
              background-color: white;
              color: black !important;margin-top:-5px "
          class="btn btn-primary mat-ripple" md-ripple="reset" (click)="reset()">RESET</button> &nbsp;&nbsp;
        
          <!-- [disabled]="!DoctorForm.valid" -->
          <button style="margin-right: 10px;
            float: right;
            background-color: white;
            color: black !important;margin-top:-5px"

          class="btn btn-primary mat-ripple" md-ripple="submit"  (click)="save(DoctorForm.value);">SUBMIT</button>
      </mat-card-title>
    </mat-card>
  
  
  </div>
  <div class="content">
    <div style="padding-left:10px;padding-right:10px;margin-left:-20px;margin-right:-20px">
      <mat-card style="max-height: 80px; padding-top: 5px">
        <form class="form-horizontal" class="form-inline" [formGroup]="DoctorForm">
          <div class="row">
            <div class=" col-lg-3 col-md-4 col-sm-4">
              <div class="form-group ">
                <div class="col-xl">
                  <mat-form-field style="margin-top:-5px">
  
                    <mat-select required [(ngModel)]="specilization" [formControl]="DoctorForm.controls['specilization']"
                      (selectionChange)="showId($event)" placeholder="Specialization">
                      <mat-option>None</mat-option>
                      <mat-option value="CARDIOLOGY">CARDIOLOGY</mat-option>
                      <mat-option value="Dermatologist">Dermatologist</mat-option>
                      <mat-option value="gynecologist">Gynecologist</mat-option>
                      <mat-option value="Hematologist">Hematologist</mat-option>
                      <mat-option value="Neurologist">Neurologist</mat-option>
                      <mat-option value="Pediatrician">Pediatrician</mat-option>
                      <mat-option value="General Physician">General Physician</mat-option>
                      <mat-option value="Diabetology">Diabetology</mat-option>
                      <mat-option value="General Physician & Diabetology">General Physician & Diabetology</mat-option>
                      <mat-option value="General Surgeon">General Surgeon</mat-option>
                      <mat-option value="Neuro Surgeon">Neuro Surgeon</mat-option>
                      <mat-option value="Neurologist">Neurologist</mat-option>
                      <mat-option value="Obstetrician">Obstetrician</mat-option>
                      <mat-option value="Gynecologist">Gynecologist</mat-option>
                      <mat-option value=" Orthopaedician">Orthopaedician</mat-option>
                      <mat-option value=" Critical Care">Critical Care</mat-option>
                      <mat-option value=" Emergency Specialist">Emergency Specialist</mat-option>
                      <mat-option value="Others">Others</mat-option>
  
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="DoctorForm.controls['specilization'].hasError('required') && DoctorForm.controls['specilization'].touched"
                  class="text text-danger">
                  <small>specilization Field is Mandatory</small>
                 </div>
  
                </div>
              </div>
            </div>
            <div class=" col-lg-3 col-md-4 col-sm-4">
              <div class="form-group ">
                <div class="col-xl">
                  <mat-form-field style="margin-top:-5px">
  
                    <mat-select required [(ngModel)]="doctor" [formControl]="DoctorForm.controls['doctor']" placeholder="Doctor">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let c of Id" [value]="c.firstName+' '+c.middleName+' '+c.lastName">
                        {{c.firstName}} {{c.middleName}} {{c.lastName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="DoctorForm.controls['doctor'].hasError('required') && DoctorForm.controls['doctor'].touched"
                  class="text text-danger">
                  <small>DoctorName  is Mandatory</small>
                 </div>
                 
  
                </div>
              </div>
            </div>
            <div class=" col-lg-3 col-md-4 col-sm-4">
              <div class="form-group ">
                <div class="col-xl">
                  <mat-form-field style="margin-top:-5px">
                    <input required [(ngModel)]="date" [formControl]="DoctorForm.controls['date']" matInput
                      [matDatepicker]="picker" placeholder="Date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div *ngIf="DoctorForm.controls['date'].hasError('required') && DoctorForm.controls['date'].touched"
                  class="text text-danger">
                  <small>Date Field is Mandatory</small>
                 </div>
  
                </div>
              </div>
            </div>
            <div class=" col-lg-3 col-md-4 col-sm-4">
              <div class="form-group ">
                <div class="col-xl">
                  <mat-form-field>
  
                    <mat-select required [(ngModel)]="slot" [formControl]="DoctorForm.controls['slot']" type="text"
                      placeholder="Slot">
                      <mat-option value="Morning Shift">Morning Shift</mat-option>
                      <mat-option value="AfterNoon Shift">AfterNoon Shift</mat-option>
                      <mat-option value="Evening Shift">Evening Shift</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="DoctorForm.controls['slot'].hasError('required') && DoctorForm.controls['slot'].touched"
                  class="text text-danger">
                  <small>Shift Field is Mandatory</small>
                 </div>
  
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <div style="padding-left:10px;margin-top:-10px;padding-right:10px;margin-left:-20px;margin-right:-20px">
  <table width="100%" class="table table-striped table-condensed" style="overflow-y: scroll;">
    <tr style="background:#03a9f4;color:whitesmoke">
      <!-- <th>SLOT ID</th> -->
      <th>Timings</th>
      <th>Doctors Availabilty </th>
    </tr>
    <tr *ngFor="let data of Doctor[0]">
      <!-- <td>{{data.slotId}}</td> -->
      <td> {{data.fromTime}} {{data.toTime}}</td>
      
      <td> <a style="width:150px" [ngStyle]="{'color':getColor(data.status)}" (click)="open(basic,data)"> <i class="fa fa-user-md"></i></a></td>
    </tr>
  
  </table>
  </div>
  <ng-template #basic let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Appointment Form</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" class="form-inline" [formGroup]="DoctorForm">
  
        <div class="row">
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <div class="col-xl">
  
                <mat-form-field>
  
  
                  <input [value]="App[0]?App[0].nextAppointmentId:''" matInput placeholder="Appointment ID" type="text" readonly>
                </mat-form-field>
               
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <div class="col-xl">
  
                <mat-form-field>
  
  
                
                    <input required pattern="[a-zA-Z ]*" minlength="3" maxlength="50" [(ngModel)]="patientName" formControlName="patientName" matInput placeholder="Patient Name" type="text">
                </mat-form-field>
                <div *ngIf="DoctorForm.controls['patientName'].hasError('required') && DoctorForm.controls['patientName'].touched"
                class="text text-danger">
                <small>Mandatory(if not entered)</small>
               </div>
              <div *ngIf="DoctorForm.controls['patientName'].hasError('pattern') && DoctorForm.controls['patientName'].touched"
                class="text text-danger">
                <small>Enter valid type</small>
              </div>
              <div *ngIf="DoctorForm.controls['patientName'].hasError('minlength') && DoctorForm.controls['patientName'].touched"
              class="text text-danger">
              <small>minlength is 3</small>
            </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3">
              <div class="form-group">
                <div class="col-xl">
    
                  <mat-form-field>
    
    
                  
                      <input  required [(ngModel)]="MNo" formControlName="MNo" pattern="[6789][0-9]{9}" minlength="10" maxlength="10" matInput placeholder="Mobile No" type="text">
                  </mat-form-field>
                  <div *ngIf="DoctorForm.controls['MNo'].hasError('required') && DoctorForm.controls['MNo'].touched"
                class="text text-danger">
                <small> MobileNo is Mandatory</small>
               </div>
              <div *ngIf="DoctorForm.controls['MNo'].hasError('pattern') && DoctorForm.controls['MNo'].touched"
                class="text text-danger">
                <small>Enter valid type</small>
              </div>
              <div *ngIf="DoctorForm.controls['MNo'].hasError('minlength') && DoctorForm.controls['MNo'].touched"
              class="text text-danger">
              <small>minlength is 10</small>
            </div>
            <div *ngIf="DoctorForm.controls['MNo'].hasError('maxlength') && DoctorForm.controls['MNo'].touched"
              class="text text-danger">
              <small>maxlength is 10</small>
            </div>
                 
                </div>
              </div>
            </div>
          <div class="col-lg-4 col-md-3">
              <div class="form-group">
                <div class="col-xl">
    
                  <mat-form-field>
    
    
                  
                      <input   pattern='^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$' maxlength="50"  [(ngModel)]="email" formControlName="email" matInput placeholder="Email" type="text">
                  </mat-form-field>
                 
              <div *ngIf="DoctorForm.controls['email'].hasError('pattern') && DoctorForm.controls['email'].touched"
                class="text text-danger">
                <small>Enter valid type</small>
              </div>
              <div *ngIf="DoctorForm.controls['email'].hasError('maxlength') && DoctorForm.controls['email'].touched"
              class="text text-danger">
              <small>maxlength is 50</small>
            </div>
             
           
                </div>
              </div>
            </div>
            
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <div class="col-xl">
  
                 <mat-form-field> 
                    <input [value]="Doctor[1][0].doctorName" [formControl]="DoctorForm.controls['doctorName']" type="text"
                    matInput placeholder="Dr.Name" readonly>
              
  
                 </mat-form-field> 
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <div class="col-xl">
  
                <mat-form-field>
                  <input [value]="Doctor[1][0].date" [formControl]="DoctorForm.controls['date']" type="text"
                    matInput placeholder="Date" readonly>
                </mat-form-field>
  
              </div>
            </div>
          </div>
  
  
          
  
  
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <div class="col-xl">
                  <mat-form-field>
                      <input [value]="Doctor[1][0].shift" [formControl]="DoctorForm.controls['slott']" type="text"
                      matInput placeholder="Slot" readonly>
                      </mat-form-field>
  
                
  
  
  
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <div class="col-xl">
  
  
  
                <mat-form-field>
  
  
                  <input [(ngModel)]="fromTime" formControlName="fromTime" matInput placeholder="From-Time"
                    type="text" readonly>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <div class="col-xl">
  
  
                <mat-form-field>
  
  
                  <input [(ngModel)]="toTime" formControlName="toTime" matInput placeholder="To-Time"
                    type="text" readonly>
                </mat-form-field>
  
              </div>
            </div>
          </div>
  
         
        </div>
      </form>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-danger mat-ripple" (click)="modal.close('Save click')">cancel</button>
      <button class="btn btn-primary mat-ripple" md-ripple="submit" (click)="submitForm(DoctorForm.value);modal.close('Save click');refresh()">Save</button>
    </div>
  </ng-template>