<div class="row">
    <div class="col-lg-2 col-md-3"  style="padding-left: 60px" >
        <div class="rad-info-box rad-txt-danger">
        <i style="padding-left: 15px;" class="fa fa-user" aria-hidden="true"></i><br><br><br><br>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 30px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ADMIN</a>
              
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" style="color:green" routerLink="/dashboard">Dashboard</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/ambulance">Ambulance</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/ambulancelist">Ambulance List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/register">Patient Registration</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/existing">Existing Patient</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/patientlist">In PatientList</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/op">Out PatientList</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/userreg">Existing User</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/user">User Registration</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/vendor">Vendor Registration</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/existvendor">Vendor List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/grn">GRN Entry</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/item">Item Master</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/itemlist">Item List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/invoice">Invoice Payments</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/proclist">Procurement Master List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/sale">Sale Management</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/return">Return Management</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/refund">Refund</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/nurse">Nurse</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/admindoctorview">Doctor</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/lab">Lab</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/Labadm">Lab Admin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/services">Services</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/serviceslist">Services List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/bill">Billing</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:green" routerLink="/report">Report</a>
        </div>
      </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3"  style="padding-left: 60px" >
    <div class="rad-info-box rad-txt-success">
        
      <i style="padding-left: 30px;" class="fa fa-user-md" aria-hidden="true"></i><br><br>
      <span style="padding-right:85px;" class="value"><span>{{doctor}}</span></span>
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 30px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Doctor</a>
           
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           
            <a class="dropdown-item" style="color:green" routerLink="/admindoctorview">Doctor</a>
           
      </div>
    </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3"  style="padding-left: 60px" >
      <div class="rad-info-box rad-txt-danger">
      <i style="padding-left: 15px;" class="fa fa-user" aria-hidden="true"></i><br><br><br><br>
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 30px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nurse</a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color:green" routerLink="/nurse">Nurse</a>
           
      </div>
    </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3"  style="padding-left: 60px" >
          <div class="rad-info-box rad-txt-danger">
      <i style="padding-left: 15px;" class="fa fa-users fa-lg" aria-hidden="true"></i><br><br><br><br>
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 12px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employee</a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color:green" routerLink="/register">Patient Registration</a>
           
      </div>
    </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3"  style="padding-left: 60px" >
          <div class="rad-info-box rad-txt-danger">
      <i style="padding-left: 15px;" class="fa fa-flask fa-lg" aria-hidden="true"></i><br><br><br><br>
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 40px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lab</a>
           
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color:green" routerLink="/Labadm">Lab Admin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/services">Services</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/serviceslist">Services List</a>
            
      </div>
    </div>
    </div>
  </div>
</div>
  <div class="row">
  <div class="col-lg-2 col-md-5" style="padding-left: 60px" >
          <div class="rad-info-box rad-txt-danger">
      <i style="padding-left: 15px;" class="fa fa-shopping-cart" aria-hidden="true"></i><br><br><br><br>
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 30px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Front Office</a>
            
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" style="color:green" routerLink="/dashboard">Dashboard</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/lab">Lab</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/register">Patient Registration</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/patientlist">Patient List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/bill">Billing</a>
            
      </div>
    </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-5" style="padding-left: 60px">
          <div class="rad-info-box rad-txt-danger">
      <i  style="padding-left: 15px;" class="fa fa-shopping-cart" aria-hidden="true"></i><br><br><br><br>
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 20px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pharmacy</a>
           
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color:green" routerLink="/vendor">Vendor Registration</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/existvendor">Vendor List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/item">Item Master</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/itemlist">Item List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/grn">GRN Details</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/proclist">Procurment MasterList</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/sale">Sale Management</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/return">Return</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/refund">Refund</a>
      </div>
    </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-5" style="padding-left: 60px">
        <div class="rad-info-box rad-txt-primary">
        
      <i style="padding-left: 30px;" class="fa fa-user" aria-hidden="true"></i><br><br>
      <span style="padding-right:85px;" class="value"><span>{{patients}}</span></span>
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 18px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             In Patient</a>
            
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color:green" routerLink="/patientlist">Patient List</a>
            
      </div>
    </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-5" style="padding-left: 60px">
        <div class="rad-info-box rad-txt-danger">
      <i style="padding-left: 30px;" class="fa fa-user"></i><br><br>
      <span style="padding-right:85px;" class="value"><span>{{outpatient}}</span></span>

      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 30px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Out Patient</a>
           
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color:green" routerLink="/op">Out-PatientList</a>
           
      </div>
    </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-5" style="padding-left: 60px">
      <div class="rad-info-box rad-txt-danger">
      <i style="padding-left: 30px;" class="fa fa-shopping-cart" aria-hidden="true"></i><br><br>
      <span style="padding-right:85px;" class="value"><span>{{vendor}}</span></span>

      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="font-size: 1.0em;padding-left: 30px;color:black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vendor</a>
           
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color:green" routerLink="/vendor">Vendor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color:green" routerLink="/existvendor">Vendor List</a>
           
      </div>
    </div>
    </div>
  </div>

  
  

 

  
  




</div>    
      <div id="chart_div"></div>