.ng-dropdown-panel.ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: blue;
    color: #333;
}

/* .ng-dropdown-panel {
    background-color: red;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0,0,0,0.06);
    left: 0;
} */